.s {
  /* orange */
  color: #f64b29;

  /* grey */
  color: #c4c4c4;

  /* header text color */
  color: #ffff;

  /* text grey color */
  color: #e5e5e5;

  /* sub-text grey color */
  color: #dddddd;

  /* background black */
  color: #1a1a21;

  /* sub-text grey color */
  color: #3f3f3f;

  /* star color */
  color: #f7b02e;
}
